body {
    margin: 0;
    overflow: hidden;
}

.hero {
    background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero__content {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}

/* .hero__content {
    position: relative;
    align-self: center;
    padding: 3rem 0;
} */

.snow {
    /* position: absolute; */
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

.logo {
    width: 330px;
}

.bottom {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

/* .top:hover{
    display: none;
} */

.top:hover+.bottom {
    visibility: visible;
    /* display: block; */
    opacity: 1;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }

}